@import "tailwindcss";
@import "./styles_components/buttons.css";

:root {
  --color-primary: var(--color-blue-500);
  --color-primary-light: var(--color-blue-400);

  --color-success: var(--color-green-600);
  --color-success-light: var(--color-green-500);

  --color-warning: var(--color-orange-500);
  --color-warning-light: var(--color-orange-400);

  --color-error: var(--color-rose-500);
  --color-error-light: var(--color-rose-400);
}

#root{
  font-family: monospace;
  font-size: x-large;
}

body{
  background-color: #222;
  color: rgb(228, 228, 228);
}